---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import imageIcon from "/icons/imageIcon.svg?raw";

import LogoCenter from "../components/LogoCenter.astro";
import LogoHorizontal from "../components/LogoHorizontal.astro";

// import "@fontsource/bree-serif";
---

<Layout title="CEPIA – Inicio">
  <main class="w-full min-h-[100vh] flex flex-col">
    <LogoCenter />
    <!-- <LogoHorizontal /> -->
    <div class="w-full flex flex-col items-center mt-8 space-y-10">
      <p class="text-center max-w-[600px] font-quicksand text-lg">
        Somos una institución dedicada a brindar atención integral a niños y
        adolescentes con dificultades en su desarrollo. Desde 1998, hemos sido
        impulsados por un grupo de profesionales comprometidos con la salud y la
        educación, brindando un apoyo integral e interdisciplinario.
      </p>

      <!-- Servicios -->
      <section class="grid md:grid-cols-2 gap-4 max-w-[1000px]">
        <Card title="Servicios" href={imageIcon}>
          <ul>
            <li>
              Brindamos <b>orientación</b>, <b>diagnóstico</b> y <b
                >tratamiento</b
              > dirigido a lactantes, niños, adolescentes y jóvenes adultos, acompañando
              y orientando al núcleo familiar en el proceso.
            </li>
            <li></li>
          </ul>
        </Card>
        <Card title="Abordaje" href="/equipo"
          >Contamos con un equipo de profesionales especializados en las áreas
          de <b>psicología</b>, <b>psicomotricidad</b>, <b>fonoaudiología</b> y <b
            >psicopedagogía</b
          > –entre otros, brindando un apoyo integral en las áreas clave del desarrollo.</Card
        >
        <Card title="Atendemos a...  " href="">
          <!-- <Card title="Alcance" href=""> -->
          <ul>
            <li>Escolares y liceales con dificultades de aprendizaje</li>
            <li>
              Niños y adolescentes en situación de discapacidad motriz,
              sensorial o intelectual
            </li>
          </ul>
        </Card>
        <Card title="Beneficiarios y prestadores" href="/beneficiarios">
          Nuestros servicios están disponibles para pacientes particulares, al
          igual que beneficiarios de hospitales, fondos de salud y el Banco de
          Previsión Social (Ayuda Extraordinaria).
        </Card>
      </section>
    </div>
  </main>
</Layout>
