---
import logoAna from '/icons/logo-ana.svg?raw';
// import logoPuzzle from '/icons/logo-puzzle.svg?raw';
---

<div class="flex w-full flex-col items-center">
  <div class="mt-[40px] w-[180px]">
    <Fragment set:html={logoAna} />
    <!-- <Fragment set:html={logoPuzzle} /> -->
  </div>
  <h1 class="text-center font-quicksand text-7xl font-bold text-gray-700">
    cepia
  </h1>
  <p
    class="mt-3 max-w-[250px] text-center font-quicksand text-sm font-semibold uppercase text-gray-700"
  >
    Centro psicopedagógico integral de Atlántida
  </p>
</div>
