---
import logoAna from "/icons/logo-ana.svg?raw";
// import logoPuzzle from "/icons/logo-puzzle.svg?raw";
---

<div class="flex items-center justify-start w-full gap-2">
  <div class="w-[60px] h-fit">
    <Fragment set:html={logoAna} />
    <!-- <Fragment set:html={logoPuzzle} /> -->
  </div>
  <div class="flex flex-col justify-center h-full">
    <h1 class="text-center font-quicksand text-3xl font-bold text-gray-700">
      cepia
    </h1>
    <!-- <p
      class="text-end font-quicksand max-w-[150px] leading-3 tracking-tight font-semibold text-gray-700 text-[0.7rem] uppercase"
    >
      Centro psicopedagógico integral de Atlántida
    </p> -->
  </div>
</div>
