---
import logoAna from "/icons/logo-ana.svg?raw";
// import logoPuzzle from "/icons/logo-puzzle.svg?raw";
---

<div class="flex flex-col items-center w-full">
  <div class="w-[180px] mt-[40px]">
    <Fragment set:html={logoAna} />
    <!-- <Fragment set:html={logoPuzzle} /> -->
  </div>
  <h1 class="text-center font-quicksand text-7xl font-bold text-gray-700">
    cepia
  </h1>
  <p
    class="text-center font-quicksand max-w-[250px] mt-3 font-semibold text-gray-700 text-sm uppercase"
  >
    Centro psicopedagógico integral de Atlántida
  </p>
</div>
