---
import logoAna from '/icons/logo-ana.svg?raw';
// import logoPuzzle from "/icons/logo-puzzle.svg?raw";
---

<div class="flex w-full items-center justify-start gap-2">
  <div class="h-fit w-[60px]">
    <Fragment set:html={logoAna} />
    <!-- <Fragment set:html={logoPuzzle} /> -->
  </div>
  <div class="flex h-full flex-col justify-center">
    <h1 class="text-start font-quicksand text-4xl font-bold text-gray-700">
      cepia
    </h1>
    <!-- <p -->
    <!-- class="max-w-[100px] text-wrap text-start font-quicksand text-[0.4rem] font-semibold uppercase leading-[0.4rem] tracking-tight text-gray-700" -->
    <!-- > -->
    <!-- Centro psicopedagógico integral de Atlántida -->
    <!-- </p> -->
  </div>
</div>
