---
import logoAna from "/icons/logo-ana.svg?raw";
import logoPuzzle from "/icons/logo-puzzle.svg?raw";
---

<div class="flex items-center justify-center w-full gap-6 mt-[50px]">
  <div class="flex flex-col items-end h-full">
    <h1 class="text-center font-quicksand text-7xl font-bold text-gray-700">
      cepia
    </h1>
    <p
      class="text-end font-quicksand max-w-[200px] mt-3 tracking-tight font-semibold text-gray-700 text-sm uppercase"
    >
      Centro psicopedagógico integral de Atlántida
    </p>
  </div>
  <div class="w-[180px] h-fit">
    <Fragment set:html={logoAna} />
    <!-- <Fragment set:html={logoAna} /> -->
  </div>
</div>
