---
import LogoNav from './LogoNav.astro';

const navLinks = [
  { label: 'Inicio', href: '/', active: isActive('/') },
  { label: 'Servicios', href: '/servicios', active: isActive('/servicios') },
  { label: 'Nosotros', href: '/equipo', active: isActive('/equipo') },
  {
    label: 'Prestadores',
    href: '/prestadores',
    active: isActive('/prestadores'),
  },
  { label: 'Contacto', href: '/contacto', active: isActive('/contacto') },
];

function isActive(path: string) {
  return new URL(Astro.request.url).pathname === path;
}

type NavLink = {
  label: string;
  href: string;
  active: boolean;
};
---

<nav
  class="fixed flex h-[70px] w-full justify-center bg-slate-100/70 px-8 shadow-md backdrop-blur"
>
  <div class="flex w-full max-w-[1000px] justify-between text-nowrap">
    <LogoNav />
    <ul
      class="flex h-full w-fit items-center gap-8 whitespace-nowrap text-nowrap font-quicksand"
    >
      {
        navLinks.map((navItem: NavLink) =>
          navItem.active ? (
            <li class="border-b-2 border-black">
              <a href={navItem.href}>{navItem.label}</a>
            </li>
          ) : (
            <li class="border-b-2 border-transparent transition duration-300 hover:text-gray-500">
              <a href={navItem.href}>{navItem.label}</a>
            </li>
          ),
        )
      }
    </ul>
  </div>
</nav>
