---
import '@fontsource/bree-serif';
import '@fontsource-variable/quicksand';
import Nav from '../components/Nav.astro';
import isActive from '../components/IsActive.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-rubik h-full bg-slate-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full">
    <Nav />
    <div class="h-[70px]"></div>
    <slot />
  </body>
</html>

<!-- <style is:global></style> -->
